<h1 class="bg-primary">Black and White Spa</h1>
    
    <form action="/image" method="GET" >
        <h3>Ingrese URL:</h3>
        <input type="text" name= "image_url" placeholder="Ingrese un URL" id="form">
        <button id="btn">subir imagen al servidor</button>
    </form>


